<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c4528c91-96d8-4ce9-8dbc-d42e8fb2edc4/resourceGroups/concord-messaging-app/providers/Microsoft.Web/sites/concord-real-time-messaging-app</ResourceId>
    <ResourceGroup>concord-messaging-app</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://concord-real-time-messaging-app.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>https://concord-real-time-messaging-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$concord-real-time-messaging-app</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>